<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Insert title here</title>
</head>
<body>
<div style="height: 70px" class="ui purple inverted vertical header segment" th:fragment="header">
	<a href="/article" th:text="#{projectTitle}" class="item" style="font-size: 26px;font-weight: bold;margin-top: -14px;color:white;margin-left: 28px;font-family: 'Bayon'">Article Management System</a>
	<div style="margin-top: -17px;width:82px" class="langBtn">
		<input id="khm" value ="kh" type="image" alt="Login" src="/images/Cambodian.png">
		<input id="eng" value ="en" type="image" alt="Login" src="/images/American.png">
	</div>
	<div class="ui container">
            <div class="ui grid">
                <div class="computer only row">
                    <div class="column">
                        <div class="ui floated right secondary menu" style="font-size: 20px;font-weight: bold;margin-top: -44px">
                            <a style="color:white;font-family: 'Bayon'" th:utext="#{backHome}" class="item" href="/article"><i class="home icon"></i>Home</a>
                            <a style="color:white;font-family: 'Bayon'" th:utext="#{categoryHeader}" class="item" href="/article/category"><i class="tags icon"></i>Category</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
	
</body>
</html>