<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="Layout/layout">
<head>
<meta charset="ISO-8859-1"/>
<title>Article Management System</title>
</head>
<body>
	<div class="container" layout:fragment="content" style="margin-bottom: 5px;">
		<div class="title">
		<h1 style="font-family: 'Bayon';font-size: 64px;padding-top: 5px" th:text="${formAdd}?#{newArticle}:#{updateArticle}">Add new Article</h1>
		</div>
		<div class="form">
			<form th:action="${formAdd}?'/add':'/update'" method="POST" th:object="${article}" enctype="multipart/form-data">
				<p hidden="hidden" id="formAction" th:text="${formAdd}?'add':'update'"></p>
				<p hidden="hidden" id="aid" th:text="${article.id}"></p>
				<label hidden="hidden" th:text="#{id}">ID: </label><input type="hidden" th:field="${article.id}" th:placeholder="#{enterId}"/> <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Id Error</span><br/>
				<label th:text="#{category}">Category: </label>
				<select th:field="${article.category.id}">
					<option th:each="opt:${options}" th:value="${opt.id}" th:text="${opt.Name}"/>
				</select><br/>
				<label th:text="#{title}">Title: </label><input type="text" th:field="${article.title}" th:placeholder="#{enterTitle}"/> <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}">title Error</span><br/>
				<label th:text="#{description}">Description: </label><input type="text" th:field="${article.description}" th:placeholder="#{enterDes}"/> <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}">description Error</span><br/>
				<label th:text="#{thumbNail}">Thumbnail: </label><input type="file" name="image" accept="image/*"/><br/>
				<label th:text="#{author}">Author: </label><input type="text" th:field="${article.author}" th:placeholder="#{enterAuthor}"/> <span th:if="${#fields.hasErrors('author')}" th:errors="*{author}">description Error</span><br/>
				<input type="submit" th:value="${formAdd}?#{save}:#{update}" style="font-family: 'Bayon';font-size: 30px;"/>
			</form>
		</div>
		<script type="text/javascript">
		var action=$('#formAction').text();
		var id= $('#aid').text();
		$(document).ready(function() {
			$("#eng").click(function(){
				var selectedOption = $('#eng').val();
        		if (selectedOption != ''){
        			if(action=='add'){
        				window.location.replace('/add?lang=' + selectedOption);
        			}
        			else{
        				window.location.replace('/update/'+id+'?lang=' + selectedOption);
        			}
        		}
			})
  			$("#khm").click(function(){
				var selectedOption = $('#khm').val();
        		if (selectedOption != ''){
        			if(action=='add'){
        				window.location.replace('/add?lang=' + selectedOption);
        			}
        			else{
        				window.location.replace('/update/'+id+'?lang=' + selectedOption);
        			}
        		}
			})
		});
	</script>
	</div>
</body>
</html>