<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="Layout/layout">
<head>
<meta charset="ISO-8859-1"/>
<title>Article Management System</title>
</head>
<body>
	<div class="container" layout:fragment="content">
		<div class="title">
			<h1 style="font-family: 'Bayon';font-size: 64px;padding-top: 5px" th:text="#{projectTitle}">Article Management System</h1>
		</div>
		<div class="content">
			<div class="subContent">
				<label th:text="#{thumbNail}">Thumbnail: </label><br>
				<img width="370px" height="320px" th:src="${article.thumbnail}"/>
			</div>
			<div class="subContent">
				<p hidden="hidden" id="aid" th:text="${article.id}"></p>
				<label th:text="#{category}">Category: </label>   <p th:text = "${article.category.Name}"></p>
				<label th:text="#{title}">Title: </label>   <p th:text = "${article.title}"></p>
				<label th:text="#{description}">Description: </label>   <p th:text = "${article.description}"></p>
				<label th:text="#{author}">Author: </label>    <p th:text = "${article.author}"></p>
				<label th:text="#{date}">Created Date: </label>  <p th:text = "${article.createdDate}"></p>
			</div>
		</div>
		<script type="text/javascript">
			$(document).ready(function() {
				var id= $('#aid').text();
				$("#eng").click(function(){
					var selectedOption = $('#eng').val();
	        		if (selectedOption != ''){
	            		window.location.replace('/article/'+id+'?lang=' + selectedOption);
	        		}
				})
	  			$("#khm").click(function(){
					var selectedOption = $('#khm').val();
	        		if (selectedOption != ''){
	            		window.location.replace('/article/'+id+'?lang=' + selectedOption);
	        		}
				})
			});
		</script>
	</div>
</body>
</html>