<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="Layout/layout">
<head>
<meta charset="ISO-8859-1"/>
<title>Article Management System</title>
</head>
<body>
	<!-- <div th:replace="Layout/header::header"></div> -->
	<div class="container" layout:fragment="content">
		<div class="title">
			<h1 style="font-family: 'Bayon';font-size: 64px;padding-top: 5px" th:text="#{projectTitle}">Article Management System</h1>
		</div>
		
		<div class="ui category search">
			<div style="float: left" class="ui icon input">
			<!-- <form action="/article/filter">
				<select style="width: 140px;height: 50px;" th:field="${article.category.id}">
					<option th:each="opt:${options}" th:value="${opt.id}" th:text="${opt.Name}"/>
				</select>
				<input style="width: 150px" type="submit" class="ui primary button" value="Filter by category">
			</form> -->
			</div>
	  		<div style="float: right" class="ui icon input">
		    	<form action="/article" method="get">
		    		<input style="width: 180px" th:field="${filter.title}" type="text" placeholder="Search article...">
	  				<select style="width: 140px;height: 50px;" th:field="${filter.cateId}">
						<option value="">--Filter--</option>
						<option th:each="opt:${options}" th:value="${opt.id}" th:text="${opt.Name}"/>
					</select>
	  				<input style="width: 100px" type="submit" class="ui primary button" value="Search">
		    	</form>
	  		</div>
	  		
		</div>
		<table width="100%" class="ui celled table">
			<tr>
				<th th:text="#{id}"  width="50px">ID</th>
				<th th:text="#{category}"  width="150px">Category</th>
				<th th:text="#{title}">Title</th>
				<th th:text="#{description}">Description</th>
				<th th:text="#{author}">Author</th>
				<th th:text="#{thumbNail}">Thumbnail</th>
				<th th:text="#{date}">Created Date</th>
				<th th:text="#{action}"  width="290px">Action</th>
			</tr>
			<tr th:each="article : ${articles}" th:object="${article}" th:style="${articleStat.even}?'background-color:aliceblue;text-align: center;':'background-color:lavenderblush;text-align: center;'">
				<td th:text="*{id}"></td>
				<td th:text="*{category.Name}"></td>
				<td th:text="*{title}"></td>
				<td th:text="*{description}"></td>
				<td th:text="*{author}"></td>
				<td><img width="90px" height="50px" th:src="*{thumbnail}" ></td>
				<td th:text="*{createdDate}"></td>
				<td>
					<a th:href="@{/article/{id}(id=*{id})}"><button class="ui inverted green button" th:text="#{view}"  style="font-family: 'Bayon'">view</button></a>
					<a th:href="@{/update/{id}(id=*{id})}"><button class="ui inverted blue button" th:text="#{update}"  style="font-family: 'Bayon'">update</button></a>
					<a th:href="@{/delete/{id}(id=*{id})}"><button class="ui inverted red button" th:text="#{delete}"  style="font-family: 'Bayon'">delete</button></a>
				</td> 
			</tr>
			<tr>
				<td style="text-align: center;font-size: 18px; font-weight: bold; color:fuchsia;" colspan="5" th:text="${articlePage}==0?'Page 1 of __${articlesList}__':'Page __${articlePage}__ of __${articlesList}__'"></td>
				<td colspan="3">
					<div  class="ui right floated pagination menu">
						<!-- <a class="item"><<</a>
						th:href="${filter.limit==null}?@{/article(title=${filter.title},cateId=${filter.cateId},limit=10,page=${filter.page}+${i})}:@{/article(title=${filter.title},cateId=${filter.cateId},limit=${filter.limit},page=${filter.page}+${i})}"
						<a th:if="${articlesList}>1"  th:each="i: ${#numbers.sequence(1,articlesList)}" th:id="${i}" th:href="@{/article(title=${filter.title},cateId=${filter.cateId},limit=${filter.limit},page=${i})}"  th:text="${i}" class="item">1</a> 
                		<a class="item">>></a> -->
                		<a class="item"><<</a>
						<!-- th:href="${filter.limit==null}?@{/article(title=${filter.title},cateId=${filter.cateId},limit=10,page=${filter.page}+${i})}:@{/article(title=${filter.title},cateId=${filter.cateId},limit=${filter.limit},page=${filter.page}+${i})}" -->
						<a th:if="${articlesList}>1"  th:each="i: ${#numbers.sequence(1,articlesList)}" th:id="${i}" th:href="@{/article(title=${filter.title},cateId=${filter.cateId},limit=${filter.limit},page=${i})}"  th:text="${i}" class="item" th:classappend="${currentPage}==${i}?'active':''">1</a> 
                		<a class="item">>></a>
                	</div>
				</td>
			</tr>
		</table>
		<br>
		<a href="/add" class="AddNew" th:text="#{addLink}">Add new</a><br><br><br>
		<script type="text/javascript">
		$(document).ready(function() {
			$("#eng").click(function(){
				var selectedOption = $('#eng').val();
        		if (selectedOption != ''){
            		window.location.replace('article?lang=' + selectedOption);
        		}
			})
  			$("#khm").click(function(){
				var selectedOption = $('#khm').val();
        		if (selectedOption != ''){
            		window.location.replace('article?lang=' + selectedOption);
        		}
			})
		});
	</script>
	</div>
	<!--  <div th:replace="Layout/footer::footer"></div>-->

	
</body>
</html>