body{
	font-family: 'Bayon';
	font-size: 17px;
	background-color: rgb(247, 255, 243);
}
th{
	text-align:center;
	font-size: 22px;
	background-color:khaki;
	height: 60px;
	color: #000080;
}
.center{
	text-align: center;
}
.container{
	width:96%;
	margin: auto;
}
.langBtn{
	width:100px;
	float:right;
	height:25px;
}
.title{
	clear:both;
	text-align: center;
	color:blue;
	font-size: 28px;
	width:100%;
	background-color:cornsilk;
	height: 100px;
	margin: auto;
	border-radius: 4px;
	margin-bottom: 5px;
}
a{
	text-decoration: none;
}
input[type="image"]{
	width:37px;
	height: 25px;
}
.AddNew{
	width:250px;
	height:50px;
	border: none;
	border-radius: 6px;
	color: blue;
	font-weight: bold;
	font-size:24px;
	background-color: lightblue;
	padding: 14px 60px;
}
span{
		color:red;
	}
input[type=text], select, input[type=file] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Bayon';
    font-size: 16px;
}

input[type=submit]{
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width:60%;
    margin:auto;
}
label{
	font-size: 20px;
	color:blue;
	font-weight: bold;
	display:block;
	background-color: rgb(253, 253, 231);
}
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    cursor: pointer;
    border-radius: 6px;

}
.home{
	width:200px;
    height:60px;
    margin: auto;
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: RoyalBlue;
     font-size: 30px;
}
.action{
	text-align:center;
	width:60px;
	height:30px;
	border: 2px solid red;
	border-radius: 6px;
	color: blue;
	font-size:14px;
	background-color: rgb(245, 204, 150);
}
.content{
	width:60%;
	display: flex;
	margin:auto;
}
.subContent{
	margin:10px;
	width:50%;
}