<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="Layout/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/framework/Semantic/semantic.min.css">
    <title>Article Category</title>
</head>

<body>
    <div class="ui container" layout:fragment="content" style="margin-top: 5px;">
        <h1 class="ui header">
            <img src="/images/label.png">
            <div class="content">
                Category Information
            </div>
        </h1>
        <div class="ui divider" style="background-color: teal"></div>
        <br>
        <div class="ui grid">
            <div class="ten wide cloumn">
                <table class="ui celled table" style="width: 690px;">
                    <thead>
                        <tr style="text-align: center;">
                            <th style="width: 60px;font-family: 'Bayon'" th:text="#{id}">ID</th>
                            <th style="width: 230px;font-family: 'Bayon'" th:text="#{category}">Category Name</th>
                            <th style="width: 80px;font-family: 'Bayon'" th:text="#{action}">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    	<tr style="text-align: center;" th:each="category:${categories}" th:object="${category}">
                    		<td  th:text="*{id}"></td>
                    		<td th:text="*{Name}"></td>
                    		<td>
                    			<a th:href="@{/article/category/delete/{id}(id=*{id})}"><button th:text="#{delete}" class='ui inverted red button' style="font-family: 'Bayon'">Delete</button></a> 
                    			<a th:href="@{/article/category/find/{id}(id=*{id})}"><button th:text="#{update}" class='ui inverted blue button' id="btnEdit" style="font-family: 'Bayon'">Edit</button></a>
                    		</td>
                    	</tr>
                    </tbody>
                </table>
                <br>
               <!--  <div class="ui right floated pagination menu" style="margin-bottom: 30px;">
                    <a class="item">1</a>
                    <a class="item">2</a>
                    <a class="item">3</a>
                    <a class="item">4</a>
                    <a class="icon item">
                        <i class="right chevron icon"></i>
                    </a>
                </div> -->
            </div>
            <div class="six wide column">
                <h2 class="ui header">
                    <img src="/images/add.png">
                    <div class="content">
                        Insert New Category
                    </div>
                </h2>
                <form class="ui large form container" th:action="${save}?'/article/category/save':'/article/category/update'" method="POST" th:object="${category}">
                    <div class="field">
                         <input type="hidden" th:field="*{id}" placeholder="Enter the title" th:value="*{id}">
                        <label>Category Name</label>
                        <input type="text" th:field="*{Name}" placeholder="Enter the category name" th:value="*{Name}"><span th:if="${#fields.hasErrors('Name')}" th:errors="*{Name}">Category Name Error</span>
                    </div>
                    <input type="submit" class="ui primary button" th:value="${save}?'Save':'Update'" id="btnSubmit">
                </form>
            </div>
        </div>
        <script type="text/javascript">
		$(document).ready(function() {
			$("#eng").click(function(){
				var selectedOption = $('#eng').val();
        		if (selectedOption != ''){
            		window.location.replace('/article/category?lang=' + selectedOption);
        		}
			})
  			$("#khm").click(function(){
				var selectedOption = $('#khm').val();
        		if (selectedOption != ''){
            		window.location.replace('/article/category?lang=' + selectedOption);
        		}
			})
		});
	</script> 
    </div>
    
</body>

</html>